/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.term-item {
    border: 1px solid gray;
    padding: 20px;
    margin-bottom: 20px;
}

.language-name {
    margin: 0;
    font-size: 1.2em;
    background: #ffdddd;
    padding: 5px;
}

.term-container .term {
    font-weight:bold;
}
